@font-face {
    font-family: Nunito-Regular;
    src: url(../fonts/Nunito-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Nunito-Regular;
}

header {
    margin: 30px 60px;
    color: #06105e;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 1.3em;
    margin-right: 230px;
}

header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    direction: ltr;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

header ul li {
    padding: 0 20px;
    text-align: center;
}

header ul li:hover {
    color: #06E6B2;
    cursor: pointer;
    transition: ease 0.3s;
}

.list-items {
    margin: 0 0 0 30px;
}

.first-button {
    padding: 7px 25px;
    border: none;
    border-radius: 20px;
    background-color: #06E6B2;
    color: white;
    font-size: 15px;
    margin-left: 250px;
    margin-top: -10px;
}

.first-button:hover {
    background-color: white;
    color: #06E6B2;
    border: solid 1px #06E6B2;
    transition: ease-in 0.3s;
}

.corona-content {
    margin: 10px 55px 0 55px;
    display: flex;
    flex-direction: row;
}

.corona-text {
    margin-top: 110px;
    margin-right: 180px;
}

.corona-content span {
    color: #06E6B2;
    font-size: 1.1em;
}

.corona-content h1 {
    font-size: 2.7em;
    margin-bottom: 18px;
    color: #06105e;
}

.corona-content img {
    width: 480px;
    height: 480px;
}

.corona-content p {
    color: #777;
    margin-bottom: 40px;
    line-height: 2;
}

.service-button {
    border-radius: 20px;
    border: solid #06E6B2 2px;
    background-color: #06E6B2;
    color: white;
    padding: 9px 24px;
}

.service-button:hover {
    background-color: white;
    color: #06E6B2;
    transition: ease 0.3s;
    cursor: pointer;
}

.support-button {
    border-radius: 20px;
    border: solid #06E6B2 2px;
    background-color: white;
    color: #06E6B2;
    padding: 9px 35px;
    margin-left: 22px;
}

.support-button:hover {
    color: white;
    background-color: #06E6B2;
    transition: ease 0.3s;
    cursor: pointer;
}

.statistics-container {
    margin: 0 70px;
}

.statistics-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.statistics-title {
    color: #06E6B2;
    font-size: 2em;
    margin-bottom: 20px;
}

#countries {
    border-radius: 20px;
    background-color: white;
    color: #9e9d9d;
    border: solid 1px #c3c1c1;
    padding: 5px 135px 5px 4px;
    margin: 1px 15px 1px 3px;
}

#date-select {
    border-radius: 20px;
    background-color: white;
    color: #9e9d9d;
    border: solid 1px #c3c1c1;
    padding: 5px 150px 5px 6px;
    margin: 1px 10px 1px 5px;
}

.filter-button {
    background-color: #06E6B2;
    border-radius: 20px;
    color: white;
    padding: 7px 40px;
    border: 1px solid #06E6B2;
    margin: 1px 25px 1px 15px;
}

.filter-button:hover {
    background-color: white;
    color: #06E6B2;
    transition: ease 0.3s;
    cursor: pointer;
}

.numbers {
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #081785;
}

.yellow-numbers {
    color: #FFB01C;
}

.numbers li {
    padding: 60px 103.5px 10px 0;
}

.details {
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #06E6B2;
}

.recovered {
    padding-left: 9px !important;
}

.details li {
    padding: 1px 76px 20px 0;
}

.day-statistics {
    height: 150px;
    width: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 6px 6px 15px #f1f1f1, -6px -6px 15px #f1f1f1;
    padding: 15px 20px;
}

.day-statistics h1 {
    color: #06E6B2;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.today-statistics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 15px;
    column-gap: 15px;
    padding: 15px 0;
    font-size: 1.1em;
}

.today-statistics p {
    color: #06E6B2;
}

.blue-numbers {
    color: #091784;
}

.green-numbers {
    color: #06E6B2;
}

.chart-container-title {
    color: #06E6B2;
    font-size: 1.8em;
    padding: 60px 0 15px 65px;
}

.chart-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 60px;
}

.chart-content h4 {
    color: #0a20c7;
    font-size: 0.7em;
    padding: 10px;
    z-index: 3;
}

.y-labels {
    float: left;
    margin: 30px 5px 0 5px;
    text-align: right;
}

.y-labels div {
    height: 20px;
    font-size: 0.6em;
    line-height: right;
}

.first-chart {
    width: 330px;
    height: 180px;
    border-radius: 8px;
    box-shadow: 6px 6px 15px #f1f1f1, -6px -6px 15px #f1f1f1;
}

.first-chart-detail ,
.secound-chart-detail {
    position: relative;
    width: 300px;
    height: 150px;
    margin: 1px 0 0 19px;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    height: 87%;
    background: repeating-linear-gradient(to top, #eee 0px, #eee 1px,
            transparent 1px, transparent 20px);
}

.points {
    position: relative;
    width: 7px;
    height: 7px;
    background-repeat: none;
    background: #09cea0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#point-one {
    left: 7%;
    top: 87%;
}

#point-two {
    left: 19%;
    top: 64%;
}

#point-three {
    left: 32%;
    top: 70%;
}

#point-four {
    left: 44.5%;
    top: 42%;
}

#point-five {
    left: 56.5%;
    top: 26%;
}

#point-six {
    left: 69.5%;
    top: 42%;
}

#point-seven {
    left: 81%;
    top: 28%;
}

#point-eight {
    left: 96%;
    top: 11%;
}

.line {
    position: relative;
    height: 2px;
    background: #06E6B2;
    transform-origin: left;
    z-index: 1;
}

#line-one {
    left: 7%;
    top: 50%;
    width: 49px;
    transform: rotate(-38deg);
}

#line-two {
    left: 19%;
    top: 30%;
    width: 41px;
    transform: rotate(24deg);
}

#line-three {
    left: 32%;
    top: 40%;
    width: 55px;
    transform: rotate(-44deg);
}

#line-four {
    left: 44.5%;
    top: 15%;
    width: 39px;
    transform: rotate(-27deg);
}

#line-five {
    left: 56.5%;
    top: 1%;
    width: 54px;
    transform: rotate(41deg);
}

#line-six {
    left: 69.5%;
    top: 22.5%;
    width: 37px;
    transform: rotate(-25deg);
}

#line-seven {
    left: 81%;
    top: 11%;
    width: 51px;
    transform: rotate(-24deg);
}

.x-labels {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding-top: 5px;
}

.x-labels div {
    width: 60px;
    font-size: 0.5em;
    text-align: center;
}

.secound-chart {
    width: 330px;
    height: 180px;
    border-radius: 8px;
    box-shadow: 6px 6px 15px #f1f1f1, -6px -6px 15px #f1f1f1;
    margin-left: 25px;
}

.secound-points {
    position: relative;
    width: 7px;
    height: 7px;
    background-repeat: none;
    background:black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#point-nine {
    left: 6%;
    top:19%;
}
#point-ten {
    left: 19%;
    top: 45%;
}
#point-eleven {
    left: 31.5%;
    top: 29%;
}
#point-twelve {
    left: 44%;
    top: 33%;
}
#point-thirteen {
    left: 57%;
    top: 14%;
}
#point-fourteen {
    left: 69.5%;
    top: 29%;
}
#point-fifteen {
    left: 83%;
    top: 37%;
    background-color: tomato;
}
#point-sixteen {
    left: 95%;
    top: 64%;
    background-color: tomato;
}
.secound-line {
    position: relative;
    height: 2px;
    background:tomato;
    transform-origin: left;
    z-index: 1;
}
#line-eight {
    left: 6%;
    top: -17%;
    width: 60px;
    transform: rotate(50deg);
}
#line-nine {
    left: 19%;
    top: 11%;
    width:43px;
    transform: rotate(-24deg);
}
#line-ten {
    left: 31%;
    top: -1%;
    width:42px;
    transform: rotate(18deg);
}
#line-eleven{
    left: 44%;
    top: 6%;
    width:42px;
    transform: rotate(-29deg);
}
#line-twelve {
    left: 57%;
    top: -10%;
    width:45px;
    transform: rotate(39deg);
}
#line-thirteen {
    left: 69%;
    top: 8%;
    width:44px;
    transform: rotate(27deg);
}
#line-fourteen {
    left: 83%;
    top: 20%;
    width:59px;
    transform: rotate(53deg);
}
.chart-statistics {
    height: 150px;
    width: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 6px 6px 15px #f1f1f1, -6px -6px 15px #f1f1f1;
    padding: 15px 20px;
    margin-left: 25px;
}

.chart-statistics h1 {
    color: #06105e;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.chart-statistics-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 15px;
    padding: 15px 0;
    font-size: 1.1em;
}

.orders-container {
    margin: 100px 60px 10px 60px;
    width: 1070px;
    height: auto;
    border-radius: 8px;
    box-shadow: 6px 6px 15px #f1f1f1, -6px -6px 15px #f1f1f1;
    width: 90%;
}

.orders-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 15px 15px 18px;
}

.orders-title h1 {
    padding: 0 25px;
    color: #06105e;
    font-size: 1.5em;
}

.main-table {
    text-align: center;
    width: 100%;
    table-layout: fixed;
    min-width: 400px;
    border-collapse: collapse;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.orders-table tr {
    border-bottom: 1px solid #e5e4e4;
}

.orders-table th,
td {
    padding: 8px 10px;
    font-size: 14px;
}

.orders-table td {
    color: #9e9d9d;
}

.orders-table th {
    color: #06105e;
}

.orders-table td i {
    color: #06105e;
}

.orders-table tr:last-child {
    border-bottom: none;
}

.circle-icons img {
    width: 18px;
    height: 18px;
}

.big-icons img {
    width: 32px;
    height: 32px;
    margin: -7px;
}

.small-icons img {
    width: 20px;
    height: 20px;
    padding-left: 1.5px;
}

.canada-icon img {
    width: 25px;
    height: 25px;
    padding-left: 2.5px;
}

.orders-button {
    display: flex;
    justify-content: center;
}

.orders-button button {
    border: 1px solid #06E6B2;
    background-color: #06E6B2;
    color: white;
    border-radius: 20px;
    padding: 6px 20px;
    margin: 30px 0 15px 0;
}

.orders-button button:hover {
    cursor: pointer;
    color: #06E6B2;
    background-color: white;
    transform: scale(1.5);
    transition: ease 0.3s;
}

.blog {
    margin: 10px 60px;
    position: relative;
    display: inline-block;
}

.blog-content {
    display: flex;
    flex-direction: row;
}

.blog h1 {
    color: #06E6B2;
    font-size: 1.5em;
    margin-top: 80px;
    margin-bottom: 20px;
}

.images {
    height: 100px;
}

.first-part img {
    position: relative;
    border-radius: 18px;
    width: 340px;
    height: 350px;
}

h4,
.date,
.name {
    position: absolute;
    color: white;
    padding-left: 20px;
    border-radius: 3px;
}

.first-part h4 {
    border-left: 5px solid white;
    z-index: 2;
    top: 385px;
}

.date {
    top: 435px;
    left: 26px;
    font-size: 0.8em
}

.name {
    top: 435px;
    left: 130px;
    font-size: 0.8em;
}

.secound-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-left: 15px;
}

.secound-part img {
    width: 350px;
    height: 150px;
    border-radius: 18px;
}

.first-images,
.image-wrapper {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.first-image img {
    width: 400px;
    object-fit: cover;
    border-radius: 18px;
}

.image-wrapper img {
    width: 320px;
    object-fit: cover;
    border-radius: 18px;
    height: 170px;
}

.first-image::after,
.image-wrapper::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70%;
    border-radius: 18px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, 0.9)100%);
    pointer-events: none;
}

.first-image {
    position: relative;
    display: inline-block;
}

.first-date,
.first-name,
.first-title,
.secound-title,
.secound-date,
.secound-name,
.third-title,
.third-date,
.third-name,
.fourth-title,
.fourth-date,
.fourth-name {
    position: absolute;
    color: white;
    z-index: 2;
}

.first-title {
    border-left: 5px solid white;
    top: 240px;
    left: 415px;
}

.first-date {
    font-size: 0.8em;
    top: 270px;
    left: 440px;
}

.first-name {
    font-size: 0.8em;
    top: 270px;
    left: 540px;
}

.secound-title {
    padding-left: 20px;
    border-radius: 3px;
    border-left: 5px solid white;
    top: 240px;
    left: 745px;
}

.secound-date {
    font-size: 0.8em;
    top: 270px;
    left: 770px;
}

.secound-name {
    font-size: 0.8em;
    top: 270px;
    left: 870px;
}


.third-title {
    padding-left: 20px;
    border-radius: 3px;
    border-left: 5px solid white;
    top: 425px;
    left: 415px;
}

.third-date {
    font-size: 0.8em;
    top: 455px;
    left: 440px;
}

.third-name {
    font-size: 0.8em;
    top: 455px;
    left: 540px;
}

.fourth-title {
    padding-left: 20px;
    border-radius: 3px;
    border-left: 5px solid white;
    top: 425px;
    left: 745px;
}

.fourth-date {
    font-size: 0.8em;
    top: 455px;
    left: 770px;
}

.fourth-name {
    font-size: 0.8em;
    top: 455px;
    left: 870px;
}

.square {
    width: 55px;
    height: 60px;
    background-color: #06E6B2;
    position: absolute;
    border-radius: 8px;
}

.top-left {
    top: 127px;
    left: -10px;
    z-index: -1;
}

.bottom-right {
    bottom: -12px;
    right: -10px;
    z-index: -1;
}

.first-footer {
    margin: 95px 65px 0 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-title {
    color: #06E6B2;
    padding: 10px 0;
}

.menu-container {
    width: 25%;
}

.menu-container li {
    color: #06105e;
    list-style-type: none;
    padding: 5px;
}

.about-us-container {
    width: 31%;
}

.about-us-container p {
    color: #06105e;
    line-height: 2.2;
}

.inputs {
    margin: 70px 20px;
    display: flex;
    flex-direction: row;
}

.email-input {
    display: flex;
    flex-direction: row;
}

.email-input input {
    border: 1px solid #d1cfcf;
    border-radius: 20px;
    color: #d1cfcf;
    position: relative;
    padding: 6px 0 6px 29px;
    margin: 0 15px 0 50px;
}

.fa-envelope {
    color: #c3c1c1;
    position: absolute;
    padding: 11px 0 0 60px;
}

.footer-button {
    background-color: #06E6B2;
    border: 1px solid #06E6B2;
    border-radius: 20px;
    padding: 8px 19px;
    color: white;
}

.footer-button:hover {
    background-color: white;
    color: #06E6B2;
    transition: ease-in 0.3s;
}

.last-footer {
    width: 100%;
    height: 80px;
    background-color: #e5e4e4;
    text-align: center;
}

.last-footer a {
    text-decoration: none;
    display: block;
    padding-top: 30px;
    color: rgb(2, 135, 179);
}